body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #010326;
}

canvas {
    display: block;
}

#container {
    display:flex;    
}

#tweensPalette {    
    padding: 25px;    
    flex: 2;
    order:1;      
    height:90vh;      
    overflow:auto;
    flex-flow: row wrap;
    align-content: flex-start;
    display:flex;
}


#tweenPanel {
    margin: 25px;
    padding: 25px;
    background:#95A656;
    order:2;  
}

.tweenPaletteEntry {
    cursor: pointer;
    background:#95A656;
}